@import '../VariaveisGlobais.module.scss';
.novidades{
  display: flex;
  flex-direction: column;
  padding: 10vh 0px 0px 10vw;
  height: 100vh;
  h1{
    margin-left: 5vw;
    font-size: 3rem;
  }
  .container{
    display: flex;
    justify-content: space-around;
    max-width: 100vw;
    height: 80vh;
    .info{
      margin-right: 10vw;
      margin-bottom: 10vh;
      width: 50vh;
      display: flex;
      justify-content: space-around;
      flex-direction: column;

      h2{
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 10px;
        font-family: "Noto Sans JP";
      }
      h3{
        font-family: "Roboto Mono";
        font-size: 1.5rem;
      }
      h4{
        font-family: "Roboto";
        font-size: 1.2rem;
      }
      a{
        width: 10vw;
        padding: 1vh;
        border-radius: 3px;
        text-decoration: none;
        color: black;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        overflow: hidden;
        svg{
            transform: translateX(10px);
            transition: 0.5s ease-in-out;
        }
        &:hover{
          svg{
            transition: 0.5s ease-in-out;
            transform: translateX(50px);
          }
        }
      }
    }
    img{
      transform: translateY(-40px);
    }
  }
  @include Mobile{
   height: 150vh;
    .container{
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .info{
        justify-content: space-between;
        padding: 5vh 5vw 10vh;
        min-height: 80vh;
        margin-bottom: 2vh;
        width: 100vw;
        align-items: center;
        a{
          min-width: 35vw;
        }
      }
      img{
        margin-right: 20px;
        width: 100%;
        height: 100%;
       
      }
    }
  }
}